@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }

  .text ul,
  ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
  }

  .text pre {
    @apply my-4 leading-8 text-lg;
  }

  .text h1 {
    font-size: 35px;
  }

  .text h2,
  .text h3,
  .text h4 {
    font-size: 27px;
  }
}
